<div class="container-fluid vh-100 d-flex justify-content-center align-items-center">
    <div class="row w-100 h-100">
        <!-- Left Column with Logo and Welcome Message -->
        <div class="col-md-6 d-none d-md-flex flex-column justify-content-center align-items-center bg-light text-black shadow-lg p-3">
            <div class="text-center">
                <img src="assets/logo.png" alt="Logo" class="mb-3" style="max-width: 80%;">
                <h1 class="display-4 mb-3" style="font-weight: 800;">Forgot Password</h1>
                <p class="lead mb-3">Enter your email to reset your password</p>
            </div>
        </div>

        <!-- Right Column with Forgot Password Form -->
        <div class="col-md-6 d-flex align-items-center justify-content-center shadow-lg p-3 position-relative form-background" style="background-color: #2c81ff;">
            <div class="form-background"></div> <!-- Background overlay -->
            <div class="form-container w-100 position-relative">
                <h3 class="mb-3">Forgot Password</h3>
                <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" formControlName="email" class="form-control" placeholder="Enter your email" required>
                        <div *ngIf="forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched" class="text-danger">
                            Email is required.
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block" [disabled]="forgotPasswordForm.invalid">Send Reset Token</button>
                </form>

                <div class="text-center mt-3" *ngIf="message">
                    <p>{{ message }}</p>
                </div>

                <div class="text-center mt-3">
                    <p>Remember your password? <a href="/signin" class="custom-link">Sign In</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
