<div class="container mt-5">
    <div class="card shadow-lg">
      <div class="card-body">
        <h5 class="card-title">Account Information</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <strong>Username:</strong> {{ user?.username }}
          </li>
          <li class="list-group-item">
            <strong>First Name:</strong> {{ user?.firstName }}
          </li>
          <li class="list-group-item">
            <strong>Last Name:</strong> {{ user?.lastName }}
          </li>
          <li class="list-group-item">
            <strong>Email:</strong> {{ user?.email }}
          </li>
          <li class="list-group-item">
            <strong>Role:</strong> {{ user?.role }}
          </li>
        </ul>
      </div>
    </div>
  </div>
  