/* account.component.css */
.card {
    border: none;
  }
  
  .card-title {
    font-size: 1.5rem;
    color: #2c81ff;
  }
  
  .list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .fa-edit {
    cursor: pointer;
    color: #2c81ff;
  }
  
  .modal.show {
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    border-radius: 1rem;
  }
  
  .btn-primary {
    background-color: #2c81ff;
    border: none;
  }
  