.card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-header {
  background-color: #007bff;
  color: white;
}

.form-group {
  margin-bottom: 1.5rem;
}

.text-danger {
  font-size: 0.875rem;
}


.action-buttons {
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
}

.action-buttons .btn {
  flex-grow: 1;
  width: auto;
}

@media (max-width: 576px) {
  .action-buttons {
    flex-direction: row;
  }
}
