<div class="container mt-5">
  <div class="card">
      <div class="card-header bg-primary text-white">
          <h3>Save a Transaction</h3>
      </div>
      <div class="card-body">
          <form [formGroup]="transactionForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                  <label for="type">Type</label>
                  <select id="type" formControlName="type" class="form-control">
                      <option value="">Select Type</option>
                      <option value="EXPENSE">Expense</option>
                      <option value="INCOME">Income</option>
                  </select>
                  <div *ngIf="transactionForm.controls['type'].invalid && transactionForm.controls['type'].touched" class="text-danger">
                      Type is required
                  </div>
              </div>
              <div class="form-group">
                  <label for="amount">Amount</label>
                  <input type="number" id="amount" formControlName="amount" class="form-control" placeholder="Enter amount" appTwoDecimal>
                  <div *ngIf="transactionForm.controls['amount'].invalid && transactionForm.controls['amount'].touched" class="text-danger">
                      Amount is required
                  </div>
              </div>
              <div class="form-group form-check">
                  <input type="checkbox" id="isStable" formControlName="isStable" class="form-check-input">
                  <label for="isStable" class="form-check-label">Is Stable</label>
              </div>
              <div class="form-group">
                  <label for="date">Expected Date</label>
                  <input type="date" id="date" formControlName="date" class="form-control" [min]="minDate">
                  <div *ngIf="transactionForm.controls['date'].invalid && transactionForm.controls['date'].touched" class="text-danger">
                      Expected Date is required
                  </div>
              </div>
              <div class="form-group">
                  <label for="category">Category</label>
                  <select id="category" formControlName="category" class="form-control">
                      <option value="">Select Category</option>
                      <ng-container *ngFor="let category of categories">
                          <option [value]="category.id" [title]="category.descriptions">{{ category.name }}</option>
                      </ng-container>
                  </select>
                  <div *ngIf="transactionForm.controls['category'].invalid && transactionForm.controls['category'].touched" class="text-danger">
                      Category is required
                  </div>
              </div>
              <button type="submit" class="btn btn-primary" [disabled]="transactionForm.invalid">Save Transaction</button>
          </form>
      </div>
  </div>
</div>

<div class="container mt-5">
  <div class="card">
    <div class="card-header bg-primary text-white">
      <h3>Monthly Transaction</h3>
    </div>
    <div class="card-body">
      <!-- Search Input -->
      <div class="mb-3">
        <input type="text" [(ngModel)]="search" placeholder="Search transactions" class="form-control" (input)="onSearchChange()">
      </div>

      <div class="mt-3">
        <p class="lead">Here you can view the stable transactions. The table below lists transactions generated for each month.</p>

        <!-- Transactions Table -->
         <div class="table-responsive">
          <table class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>Date</th>
                <th>Amount</th>
                <th>Type</th>
                <th>Category</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let transaction of paginatedTransactions">
                <td>{{ transaction.date | date: 'yyyy-MM-dd' }}</td>
                <td>{{ transaction.amount | currency: 'USD' }}</td>
                <td>{{ transaction.type }}</td>
                <td>{{ transaction.category.name }}</td>
                <td>
                  <button class="btn btn-warning btn-sm" (click)="editTransaction(transaction)">Modify</button>
                  <button class="btn btn-danger btn-sm ms-2" (click)="deleteTransaction(transaction.id)">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
          <nav *ngIf="totalPages > 1">
            <ul class="pagination">
              <li class="page-item" [ngClass]="{'disabled': currentPage === 0}">
                <a class="page-link" style="cursor: pointer;" (click)="changePage(0)">First</a>
              </li>
              <li class="page-item" [ngClass]="{'disabled': currentPage === 0}">
                <a class="page-link" style="cursor: pointer;" (click)="changePage(currentPage - 1)">Previous</a>
              </li>
              <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index" [ngClass]="{'active': i === currentPage}">
                <a class="page-link" style="cursor: pointer;" (click)="changePage(i)">{{ i + 1 }}</a>
              </li>
              <li class="page-item" [ngClass]="{'disabled': currentPage === totalPages - 1}">
                <a class="page-link" style="cursor: pointer;" (click)="changePage(currentPage + 1)">Next</a>
              </li>
              <li class="page-item" [ngClass]="{'disabled': currentPage === totalPages - 1}">
                <a class="page-link" style="cursor: pointer;" (click)="changePage(totalPages - 1)">Last</a>
              </li>
            </ul>
          </nav>
        </div>

        <!-- Pagination Controls -->
        
      </div>
    </div>
  </div>
</div>