<!-- navbar.component.html -->
<nav class="navbar navbar-expand-lg navbar-light  shadow">
  <div class="container-fluid">
    <button class="navbar-toggler me-3" type="button" (click)="toggleSidebar()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a *ngIf="isLargeScreen" class="navbar-brand" href="/">
      <img src="assets/ico.png" alt="Logo" width="50" height="40" class="d-inline-block align-top">
    </a>
    <span *ngIf="isLargeScreen" class="navbar-brand">
      <span style="color: rgb(43 113 216);">Plutus</span>
      <span style="color: rgb(42 178 255);">Vision</span>
    </span>
    <div class="d-flex ms-auto align-items-center">
      <ul class="navbar-nav flex-row">
        <li class="nav-item me-3">
          <a class="nav-link" href="#">
            <i class="fa fa-wallet"></i> ${{ userSolde }}
          </a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link" href="/notifications">
            <i class="fa fa-bell"></i>
            <span class="badge badge-pill badge-danger" style="color: rgb(245, 148, 37);">{{ notificationCount }}</span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a (click)="toggleDropdown()" class="nav-link dropdown-toggle"  id="userDropdown" role="button"  aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user"></i> {{ userName }}
          </a>
          <div *ngIf="dropdownOpen" class="absolute right-0 mt-2 w-48 bg-white border border-gray-200 rounded-lg shadow-lg py-2 z-50 dark:bg-gray-800 dark:border-gray-700">
            <div class="block px-4 py-2 text-gray-700 dark:text-white">
              {{ userName }}
            </div>
            <a (click)="logout()" class="block px-4 py-2 mt-2 text-red-600 font-semibold hover:bg-red-100 dark:text-red-400 dark:hover:bg-gray-700">Logout</a>
          </div>  
        </li>
      </ul>
    </div>
  </div>
</nav>
