.container {
    max-width: 800px;
  }
  
  .card {
    border: none;
  }
  
  .card-header {
    border-bottom: none;
  }

  
  .budget-info {
    flex-grow: 1;
  }
  
  .budget-name {
    font-weight: bold;
  }
  
  .budget-progress {
    margin-left: auto !important;
    margin-right: 10px !important;
  }
  
  .progress-bar {
    background: rgb(46,184,255);

    background: linear-gradient(90deg, rgba(46,184,255,1) 0%, rgba(253,29,29,1) 100%);
    border-radius: 5px;
    transition: width 0.3s;
  }
  
  .text-muted {
    font-size: 0.9rem;
  }
  
  .shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075)!important;
  }
  
.modal-header.bg-primary {
  background: linear-gradient(45deg, #1b6ca8, #2c81ff);
}

.modal-header .btn-close {
  filter: invert(1);
}

.modal-body {
  font-size: 1rem;
  line-height: 1.5;
}

.list-group-item {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
}

.list-group-item:hover {
  background-color: #e9ecef;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-danger:hover {
  background-color: #c82333;
  border-color: #bd2130;
}

.add-budget-btn {
  background: linear-gradient(45deg, #2c81ff, #1b6ca8);
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  transition: background 0.3s ease, transform 0.3s ease;
  border: none;
  margin-left: 55%;
}

@media screen and (min-width: 900px) {
  .add-budget-btn {
    margin-left: 73%;
  }
}

.add-budget-btn:hover {
  background: linear-gradient(45deg, #1b6ca8, #0a508d);
  transform: translateY(-2px);
}

.add-budget-btn i {
  margin-right: 8px;
}
.budget-card {
  position: relative;
  padding-right: 40px; /* Adjust as needed to accommodate the menu icon */
}

.budget-card-header {
  position: relative;
}

.budget-options {
  position: absolute;
  top: 0;
  right: 0;
}

.budget-options .btn-link {
  color: #333; /* Change color as needed */
}

.budget-options .dropdown-menu {
  min-width: auto;
  right: 0;
  left: auto;
}
