<div class="modal-content custom-modal-content">
    <div class="modal-header custom-modal-header">
      <h4 class="modal-title">{{ title }}</h4>
      <button type="button" class="close custom-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body custom-modal-body">
      <p>{{ message }}</p>
    </div>
    <div class="modal-footer custom-modal-footer">
      <button type="button" class="btn btn-primary custom-btn" (click)="redirectToLogin()">OK</button>
    </div>
  </div>
  