<!-- registration.component.html -->
<div class="container-fluid vh-100 d-flex justify-content-center align-items-center">
    <div class="row w-100 h-100">
        <!-- Left Column with Logo and Welcome Message -->
        <div class="col-md-6 d-none d-md-flex flex-column justify-content-center align-items-center bg-light text-black shadow-lg p-3">
            <div class="text-center">
                <img src="assets/logo.png" alt="Logo" class="mb-3" style="max-width: 80%;">
                <h1 class="display-4 mb-3" style="font-weight: 800;">Welcome Here You Can <span style="color: #2c81ff;">Sign</span><span style="color: rgb(42 178 255);"> UP</span></h1>
                <p class="lead mb-3">Sign up to continue access</p>
            </div>
        </div>

        <!-- Right Column with Sign In Form -->
        <div class="col-md-6 d-flex align-items-center justify-content-center shadow-lg p-3 position-relative form-background" style="background-color: #2c81ff;">
            <div class="form-background"></div> <!-- Background overlay -->
            <div class="form-container w-100 position-relative">
                <h3 class="mb-3">Sign Up</h3>
                <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" id="username" formControlName="username" class="form-control" placeholder="Enter username" required>
                        <div *ngIf="signupForm.get('username')?.invalid && signupForm.get('username')?.touched" class="text-danger">
                            <div *ngIf="signupForm.get('username')?.errors?.['required']">Username is required.</div>
                            <div *ngIf="signupForm.get('username')?.errors?.['usernameTaken']">Username is already taken.</div>
                            <div *ngIf="signupForm.get('username')?.errors?.['invalidCharacters']">Usernames can only contain alphabetic characters, numeric characters, and underscores.</div>
                            <div *ngIf="signupForm.get('username')?.errors?.['startsWithDigit']">The first character in a username cannot be a digit.</div>
                            <div *ngIf="signupForm.get('username')?.errors?.['invalidLength']">Username must be between 6 and 30 characters long.</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input type="text" id="firstName" formControlName="firstName" class="form-control" placeholder="Enter first name" required>
                        <div *ngIf="signupForm.get('firstName')?.invalid && signupForm.get('firstName')?.touched" class="text-danger">
                            <div *ngIf="signupForm.get('firstName')?.errors?.['required']">First name is required.</div>
                            <div *ngIf="signupForm.get('firstName')?.errors?.['invalidCharacters']">First name can only contain alphabetic characters, spaces, and hyphens.</div>
                            <div *ngIf="signupForm.get('firstName')?.errors?.['invalidLength']">First name must be between 2 and 50 characters long.</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input type="text" id="lastName" formControlName="lastName" class="form-control" placeholder="Enter last name" required>
                        <div *ngIf="signupForm.get('lastName')?.invalid && signupForm.get('lastName')?.touched" class="text-danger">
                            <div *ngIf="signupForm.get('lastName')?.errors?.['required']">Last name is required.</div>
                            <div *ngIf="signupForm.get('lastName')?.errors?.['invalidCharacters']">Last name can only contain alphabetic characters, spaces, and hyphens.</div>
                            <div *ngIf="signupForm.get('lastName')?.errors?.['invalidLength']">Last name must be between 2 and 50 characters long.</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email">Email Address</label>
                        <input type="email" id="email" formControlName="email" class="form-control" placeholder="Enter email" aria-describedby="emailHelp" required>
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                        <div *ngIf="signupForm.get('email')?.invalid && signupForm.get('email')?.touched" class="text-danger">
                            Please enter a valid email address.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <div class="input-group">
                            <input type="password" id="password" formControlName="password" class="form-control" placeholder="Enter password" required [attr.aria-describedby]="'password-help'" #passwordInput>
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" (click)="togglePasswordVisibility(passwordInput)">
                                    <i class="fa fa-eye" aria-hidden="true" *ngIf="!passwordVisible"></i>
                                    <i class="fa fa-eye-slash" aria-hidden="true" *ngIf="passwordVisible"></i>
                                </button>
                            </div>
                        </div>
                        <div *ngIf="signupForm.get('password')?.invalid && signupForm.get('password')?.touched" class="text-danger">
                            <div *ngIf="signupForm.get('password')?.errors?.['required']">Password is required.</div>
                            <div *ngIf="signupForm.get('password')?.errors?.['invalidPassword']">
                                Password must include at least one uppercase letter, one lowercase letter, one digit, one special symbol, and be at least 8 characters long.
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="are-you-label">you are?</label>
                        <div class="d-flex ml-2">
                        <div class="form-check form-check-inline custom-radio">
                            <input class="form-check-input" type="radio" id="rolePersonnel" formControlName="role" value="personnel"/>
                            <label class="form-check-label" for="rolePersonnel">Personnel</label>
                        </div>
                        <div class="form-check form-check-inline custom-radio">
                            <input class="form-check-input" type="radio" id="roleProfessionnel" formControlName="role" value="professionnel">
                            <label class="form-check-label" for="roleProfessionnel">Professionnel</label>
                        </div>
                        </div>
                        <div *ngIf="signupForm.get('role')?.invalid && signupForm.get('role')?.touched" class="text-danger">
                            Role is required.
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block" [disabled]="signupForm.invalid">Continue</button>
                </form>
            </div>
        </div>
    </div>
</div>
