/* registration.component.css */
.container-fluid {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .shadow-lg {
    border-radius: 10px;
  }
  
  h3 {
    font-weight: bold;
    color: #0066cc;
  }
  
  .btn-primary {
    background-color: #0066cc;
    border-color: #0066cc;
    transition: background-color 0.3s, border-color 0.3s;
  }
  
  .btn-primary:hover {
    background-color: #004c99;
    border-color: #004c99;
  }
  
  .form-control:focus {
    border-color: #0066cc;
    box-shadow: 0 0 0 0.2rem rgba(0, 102, 204, 0.25);
  }
  
  .text-danger {
    font-size: 0.8em;
    margin-top: 0.2rem;
  }
  
  label {
    font-weight: bold;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  .are-you-label {
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 5px;
    display: inline-block;
    color: #0066cc;
  }
  
  .custom-radio {
    margin-right: 10px; /* Add space between radio buttons */
  }
  
  .custom-radio .form-check-input {
    margin-right: 5px;
  }
  
  .custom-radio .form-check-label {
    font-size: 0.9em;
    color: #333;
  }
  
  .form-container {
    padding: 20px;
    max-width: 350px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1;
  }
  
  .form-background {
    border-color: rgba(178, 186, 197, 0.7);
    border-radius: 10px;
    border-right-style: outset;
    z-index: 1;
  }
  
  input[type="password"]::-ms-reveal {
    display: none;
}

.custom-link {
  color: #2c81ff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.custom-link:hover {
  color: rgb(42 178 255);
}